*{
    color: antiquewhite;
}
body{
    background-color: rgb(61, 61, 61);
}
h1{
    text-align:center;
    color: blueviolet;
}
code{
    color:orangered;
}
.ZeroTwo{
    font-family: cursive ;
}
#Q1{
    text-align: center;
    text-transform: capitalize;
}
#Q2{
    font-family: fantasy;
}
#Outer{
    font-size: 25px;
}
#Inner{
    font-size: 10px;
}